$medium: 768px;
$small: 450px;

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .login {
    justify-self: right;
    align-self: start;
  }

  .logo {
    width: 70vw;
    position: relative;
  }

  .logo-image {
    height: 100%;
    position: absolute;
    right: 20%;
    z-index: -1;
    top: -25%;
  }

  .actions {
    display: flex;
    flex-direction: row;

    .home-button {
      font-size: 20px;
      margin: 10px;
      padding: 15px;
    }

    @media (max-width: $medium) {
      .home-button {
        font-size: 17px;
        margin: 5px;
        padding: 10px;
      }
    }

    @media (max-width: $small) {
      .home-button {
        font-size: 14px;
        padding: 5px;
      }
    }
  }
}

