.board {
  width: 100vh;
  margin: auto;

  .board-row {
    width: 100%;

    &.top {
      zulopoly-field {
        height: 12vh;
      }
    }

    &.bottom {
      zulopoly-field {
        height: 12vh;
      }
    }

    &.middle {
      height: 76vh;
    }
  }
}
