$boardSize: 90vh;

.board {
  width: $boardSize;
  max-width: 100vw;
  margin: auto;
  height: $boardSize;
  max-height: 100vw;
  border: calc(#{$boardSize} / 100) solid black;
  font-family: "Arial Black", Gadget, sans-serif;

  .board-row {
    width: 100%;
    height: 13%;

    &.board-row--horizontal {
      .board-field__zulopoly-field {
        flex: none;
        width: calc(74% / 9);
      }

      .board-field__zulopoly-field:first-child, .board-field__zulopoly-field:last-child {
        flex: none;
        width: 13%;
      }
    }

    &.board-row--vertical {
      height: 76%;

      .board-column--middle-left, .board-column--middle-right {
        width: 13%;
      }
    }
  }
}
